@model SportsBarApp.Models.Profile
@{
    ViewBag.Title = "SportsBar";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Leckerli+One|Coustard:900" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar navbar-fixed-top">
        <div class="container">
            
            @Html.Partial("Navbar")

            @Html.TextBox("Search", null, new { id = "search", @class = "form-control pull-left", placeholder = "Search", type = "search" })
       
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Your Profile", "Edit")</li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="wrapper-wall">
        <div class="row">
            <div class="col-md-3">   
                <table>
                    <tr>
                        <td>
                            <img src="~/Content/images/crowd-draw.jpg" />
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.NickName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.NickName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.DateOfBirth, "DOB")
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.DateOfBirth)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.City)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.City)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.Country)                            
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.Country)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.FavouriteSports, "Sports")
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.FavouriteSports)
                        </td>
                    </tr>
                    <tr>
                        <td>
                           @Html.LabelFor(m => m.FavouriteTeams, "Teams") 
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.FavouriteTeams)
                        </td>
                    </tr>
                </table>
                
                    
            </div>
            <div class="col-md-6">
                @for (var i = 0; i < 6; i++)
                {
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                }
                
            </div>
            <div class="col-md-3">
                <ul>
                    @for (int i = 0; i < 6; i++)
                    {
                        <li>
                            Friends list is going to be here.
                        </li>
                    }
                    
                </ul>
                    
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
