@model SportsBarApp.Models.Profile
@{
    ViewBag.Title = "SportsBar";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar navbar-fixed-top">
        <div class="container">
            @Html.Partial("Navbar")

            @Html.TextBox("Search", null, new { id = "search", @class = "form-control pull-left", placeholder = "Search", type = "search", style = "display:inline; width:100%;" })

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li></li>
                    <li></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-3" style="padding:0">
                <img src="~/Content/images/crowd-draw.jpg" style="width:30px"/>
                <dl >
                    
                    <dt>
                        @Html.DisplayNameFor(m => m.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(m => m.FirstName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(m => m.LastName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.NickName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(m => m.NickName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.Birthday)
                    </dt>

                    <dd>
                        @Html.DisplayFor(m => m.Birthday)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(m => m.City)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.Country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(m => m.Country)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.FavouriteSports)
                    </dt>

                    <dd>
                        @Html.DisplayFor(m => m.FavouriteSports)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(m => m.FavouriteTeams)
                    </dt>

                    <dd>
                        @Html.DisplayFor(m => m.FavouriteTeams)
                    </dd>


                </dl>
            </div>
            <div class="col-md-6">
                <p>
                    sbdvjsdnavnsalmnlsamdsdvnmsadnvmnsanasnvnas
                    sjdvnnsvnslanvlsanvknsavka
                </p>
            </div>
            <div class="col-md-3" style="padding-right:0">
                <dl>
                    <dt>
                        <p>gjknfdjgnjdnfjdfn</p>
                    </dt>

                    <dd>
                        <p>gjknfdjgnjdnfjdfn</p>
                    </dd>
                    <dt>
                        <p>gjknfdjgnjdnfjdfn</p>
                    </dt>
                </dl>
            </div>
        </div>
    </div>
</body>
</html>
