@model SportsBarApp.Models.Profile

@{
    ViewBag.Title = "Create Your Profile";
}

<h2 class="text-center">@ViewBag.Title</h2>


@using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-offset-2 col-md-8">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div>
                    @Html.HiddenFor(model => model.GlobalId, new { id = "GlobalId", Value = ViewBag.GlobalId })
                </div>
            </div>         
           
                   
            @*<input accept="image/x-png, image/gif, image/jpeg" type="file" id="ProfilePic.UploadImage" name="ProfilePic.UploadImage"/>*@
           
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger text-center" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NickName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control datePicker" } })
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FavouriteSports, htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.FavouriteSports, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FavouriteSports, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FavouriteTeams, htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.FavouriteTeams, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FavouriteTeams, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div class="col-md-12 text-center">
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $(".datePicker").datepicker({
                dateFormat: "dd/mm/yy"
            });
        });
    </script>
}
   