@model SportsBarApp.Models.ViewModels.ProfileViewModel

@if (Model.IsThisUser)
{
    <div class="col-md-6 profile-links">
        @Html.ActionLink("VIEW", "Details", new { id = Model.Profile.ProfileId }, new { @class = "clicked" })
        @Html.ActionLink("EDIT", "Edit", new { id = Model.Profile.ProfileId }, new { @class = "not-clicked" })
        @Html.ActionLink("CHANGE PROFILE PHOTO", "ChangeProfilePhoto", new { id = Model.Profile.ProfileId }, new { @class = "not-clicked" })
    </div>
}
else
{ 
    <div id="guest-details" class="col-md-6 text-center">PROFILE DETAILS</div>
}


<div id="details" >    
    <section>
        <span>
            @Html.DisplayNameFor(model => model.Profile.FirstName)
        </span>
        <span>
            @Html.DisplayFor(model => model.Profile.FirstName)
        </span>
    </section>
    <section>
        <span>
            @Html.DisplayNameFor(model => model.Profile.LastName)
        </span>
        <span>
            @Html.DisplayFor(model => model.Profile.LastName)
        </span>
    </section>
    
    <section>
        <span>
            @Html.DisplayNameFor(model => model.Profile.DateOfBirth)
        </span>
        <span>
            @Html.DisplayFor(model => model.Profile.DateOfBirth)
        </span>
    </section>
    <section>
        <span>
            @Html.DisplayNameFor(model => model.Profile.City)
        </span>
        <span>
            @Html.DisplayFor(model => model.Profile.City)
        </span>
    </section>
    <section>
        <span>
            @Html.DisplayNameFor(model => model.Profile.Country)
        </span>
        <span>
            @Html.DisplayFor(model => model.Profile.Country)
        </span>
    </section>
    <section>
        <span>
            @Html.DisplayNameFor(model => model.Profile.FavouriteSports)
        </span>
        <span>
            @Html.DisplayFor(model => model.Profile.FavouriteSports)
        </span>
    </section>
    <section>
        <span>
            @Html.DisplayNameFor(model => model.Profile.FavouriteTeams)
        </span>
        <span>
            @Html.DisplayFor(model => model.Profile.FavouriteTeams)
        </span>
    </section>
    
       
</div>



