@model SportsBarApp.Models.Profile

@if (ViewBag.IsThisUser == null || ViewBag.IsThisUser)
{
    <div class="col-md-6 profile-links">
        @Html.ActionLink("VIEW", "Details", new { id = Model.ProfileId }, new { @class = "clicked" })
        @Html.ActionLink("EDIT", "Edit", new { id = Model.ProfileId }, new { @class = "not-clicked" })
        @Html.ActionLink("CHANGE PROFILE PHOTO", "ChangeProfilePhoto", new { id = Model.ProfileId }, new { @class = "not-clicked" })
    </div>
}
else
{ 
    <div id="guest-details" class="col-md-6 text-center">PROFILE DETAILS</div>
}


<div id="details" >    
    <section>
        <span>
            @Html.DisplayNameFor(model => model.FirstName)
        </span>
        <span>
            @Html.DisplayFor(model => model.FirstName)
        </span>
    </section>
    <section>
        <span>
            @Html.DisplayNameFor(model => model.LastName)
        </span>
        <span>
            @Html.DisplayFor(model => model.LastName)
        </span>
    </section>
    
    <section>
        <span>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </span>
        <span>
            @Html.DisplayFor(model => model.DateOfBirth)
        </span>
    </section>
    <section>
        <span>
            @Html.DisplayNameFor(model => model.City)
        </span>
        <span>
            @Html.DisplayFor(model => model.City)
        </span>
    </section>
    <section>
        <span>
            @Html.DisplayNameFor(model => model.Country)
        </span>
        <span>
            @Html.DisplayFor(model => model.Country)
        </span>
    </section>
    <section>
        <span>
            @Html.DisplayNameFor(model => model.FavouriteSports)
        </span>
        <span>
            @Html.DisplayFor(model => model.FavouriteSports)
        </span>
    </section>
    <section>
        <span>
            @Html.DisplayNameFor(model => model.FavouriteTeams)
        </span>
        <span>
            @Html.DisplayFor(model => model.FavouriteTeams)
        </span>
    </section>
    
       
</div>



