@model SportsBarApp.Models.ViewModels.ProfileWallViewModel

@{
    ViewBag.Title = "SportsBar";
    Layout = "~/Views/Shared/_LayoutProfileWall.cshtml";    

}

<div class="container" id="wrapper-wall">
    <div class="row">
        <div class="col-md-3">   
            <table>
                <tr>
                    <td>                         
                        @if (Model.UserProfile.ProfilePic == null)
                        {
                            <img src=' ~/Content/images/avatar-default.png' />
                        }
                        else
                        {
                            @Html.Image(Model.UserProfile.ProfilePic.Content);
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.UserProfile.FirstName) @Html.DisplayFor(m => m.UserProfile.LastName)
                    </td>
                </tr>
               
                <tr>
                    <td>
                        @Html.LabelFor(m => m.UserProfile.DateOfBirth, "DOB")
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.UserProfile.DateOfBirth)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.UserProfile.City)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.UserProfile.City)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.UserProfile.Country)                            
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.UserProfile.Country)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.UserProfile.FavouriteSports, "Sports")
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.UserProfile.FavouriteSports)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.UserProfile.FavouriteTeams, "Teams") 
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.UserProfile.FavouriteTeams)
                    </td>
                </tr>
            </table>
                
                    
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("UploadPost", "Profile", FormMethod.Post, new { id = "form-write-post" }))
            {
                <section>
                    @Html.TextArea("Message", "", 4, 20, new { @class = "form-control", @placeholder = "What's up ?" })

                    
                    <input type="submit" value="Upload Post" class="btn btn-info" />
                   
                </section>
            }
           
            @Html.Partial("Wall", Model.Posts)
        


            </div>
        <div class="col-md-3">
            <ul>
                @for (int i = 0; i < 6; i++)
                {
                    <li>
                        Friends list is going to be here.
                    </li>
                }
                    
            </ul>
                    
        </div>
    </div>
</div>




