@model SportsBarApp.Models.ViewModels.ProfileViewModel
@{ 
    var profile = "not-clicked";
    var activity =  "not-clicked";
    var friends = "not-clicked";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Leckerli+One|Coustard:900" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    @Html.Partial("_NavbarProfile")
    <div class="container">
        <section id="cover">
            <div id="profile-pic">
                <span>@Model.Profile.FirstName  @Model.Profile.LastName</span>
                @if (!Model.IsThisUser)
                {                    
                    using (Html.BeginForm("AskFriendship", "Profile", FormMethod.Post))
                    {
                        <section>
                            @Html.HiddenFor(model => model.Friendship.Id)
                            @Html.Hidden("FriendId", Model.Profile.ProfileId)
                            @Html.Hidden("ProfileId", Model.User.ProfileId)
                            <input type="submit" value="@Model.FriendStatus" class="btn btn-default @Model.ButtonStatus" />
                        </section>
                    }
                }
            </div>
            
        </section>
        
        <div class="row">
            <section class="col-md-3 profile-links">
                @if (Model.CurrentView == "profile")
                {
                    profile = "clicked";
                }
                else if (Model.CurrentView == "activity")
                {
                    activity = "clicked";
                }
                else
                {
                    friends = "clicked";
                }
                @Html.ActionLink("PROFILE", "MyProfile", "Profile", new { id = Model.Profile.ProfileId }, new { @class = profile })
                @Html.ActionLink("ACTIVITY", "Activity", "Profile", new { id = Model.Profile.ProfileId }, new { @class = activity })
                @Html.ActionLink("FRIENDS", "Friends", "Profile", new { id = Model.Profile.ProfileId }, new { @class = friends })

            </section>      

            <section class="col-md-offset-1 col-md-8">               
                @RenderBody()
            </section>
        </div>
    </div>
 
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryui")
@RenderSection("scripts", required: false)
@Scripts.Render("~/bundles/jqueryval")


</body>
</html>
