
<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Sb", "Index", new { area = "" }, new { @class = "navbar-brand" })
            @Html.TextBox("Search", null, new { id = "search", @class = "form-control", placeholder = "Search", type = "text", required= "required" })

        </div>

        <div class="navbar-collapse collapse">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li><a href="@Url.Action("MyProfile", "Profile", new { id = Model.IsThisUser ? Model.Profile.ProfileId : Model.User.ProfileId })">@(Model.IsThisUser ? Model.Profile.FirstName : Model.User.FirstName)</a> <a id="count" href="@Url.Action("Friends", "Profile", new { id = Model.Profile.ProfileId })">@Model.PendingRequests.Count</a></li>
                    <li><div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My Account
                        </a>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item " href="/Manage/ChangePassword">Settings</a>
                            
                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>                                                        
                        </div>
                    </div></li>
                </ul>
            }
           

        </div>
    </div>
</div>



